@import url("https://fonts.google.com/specimen/Roboto?query=roboto");
@import url("https://fonts.google.com/specimen/Cardo?query=cardo");
body {
  font-family: "Roboto", "Cardo";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

.header {
  max-width: 100%;
  display: flex;
  padding: 16px 30px;
  margin: 0 auto;
}

.nav {
  display: flex;
  text-align: center;
}

.nav__link {
  color: rgb(0, 0, 0);
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  padding-top: 24px;
  padding-left: 24px;
}

.header__logo {
  display: flex;
  justify-content: center;
  margin-left: 370px;
}

.logo__img {
  width: 190px;
  height: 60px;
}

.mainscreen {
  width: 100%;
}

.mainscreen__img {
  width: 100%;
}

.mainscreen__title {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 807px;
  width: 100%;
  text-align: center;
  top: 257px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
}

.mainscreen__text {
  color: rgb(255, 255, 255);
  font-size: 27px;
  font-weight: 700;
  line-height: 38.4px;
  margin-bottom: 31px;
}

.mainscreen__btn {
  display: block;
  padding: 4px 40px;
  color: rgb(255, 255, 255);
  background: none;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  border: 1px solid rgb(255, 255, 255);
}

.mainscreen__button {
  display: block;
  margin-top: 250px;
  padding: 15px 32px;
  background: rgb(5, 5, 5);
  border: 1px solid;
  color: rgb(255, 255, 255);
  align-items: center;
  font-size: 15px;
  font-weight: 400;
}

.menu {
  width: 100%;
  margin: 0 auto;
  padding: 42px 57px;
}

.menu__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  display: flex;
  align-items: center;
}

.card__icon {
  width: 47px;
  height: 47px;
  margin-right: 10px;
}

.card__title {
  color: rgb(0, 0, 0);
  font-size: 17px;
  font-weight: 400;
}

.carusel {
  width: 100%;
}

.carusel__card {
  display: flex;
}

.card__img {
  display: block;
  width: 25%;
}

.product {
  width: 100%;
  margin-top: 115px;
}

.product__list {
  display: block;
  width: 100%;
}

.product__card {
  display: flex;
  justify-content: space-between;
  gap: 22px;
  margin-bottom: 29px;
  padding-left: 50px;
}

.reverse {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 50px;
}

.product__title {
  display: block;
  margin-top: 48px;
  text-align: right;
}

.product__head {
  color: rgb(0, 0, 0);
  font-size: 33px;
  font-weight: 700;
  margin-bottom: 12px;
}

.product__subtitle {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 12px;
}

.product__price {
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 12px;
}

.product__info {
  color: rgb(82, 82, 82);
  font-size: 18px;
  font-weight: 400;
  line-height: 30.6px;
  margin-bottom: 66px;
}

.product__link {
  color: rgb(0, 0, 0);
  font-size: 17px;
  font-weight: 400;
}

.product__img {
  width: 960px;
  width: 100%;
  height: 542px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.info {
  width: 100%;
  margin-top: 61px;
}

.info__text {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.info__head {
  color: rgb(58, 58, 58);
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 21px;
}

.info__subtitle {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 400;
  line-height: 33.43px;
  margin-bottom: 37px;
}

.info__carusel {
  display: flex;
  padding-left: 160px;
  padding-right: 160px;
  justify-content: space-between;
}

.info__img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.info__icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.info__icon {
  width: 9px;
  height: 9px;
  margin-right: 5px;
}

.info__desc {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 136px;
  padding: 0 125px;
}

.info__slogan {
  color: rgb(2, 2, 2);
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  line-height: 30px;
  margin-bottom: 37px;
}

.info__copyright {
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 51px;
}

.slogan__carusel {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.slogan__icon {
  width: 9px;
  height: 9px;
  margin-right: 5px;
}/*# sourceMappingURL=style.css.map */