.header {
    width: 1380px;
    max-width: 100%;
    display: flex;
    padding: 16px 30px;
}

.nav {
    display: flex;
    text-align: center;

}

.nav__link {
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-weight: 400;
    line-height: 23px;
    padding-top: 24px;
    padding-left: 20px;
}

.header__logo {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.logo__img {
    width: 190px;
    height: 60px;
}