.info {
    width: 100%;
    margin-top: 61px;
}

.info__text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.info__head {
    color: rgb(58, 58, 58);
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 21px;
}

.info__subtitle {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 400;
    line-height: 33.43px;
    margin-bottom: 37px;
}

.info__carusel {
    display: flex;
    padding-left: 160px;
    padding-right: 160px;
    justify-content: space-between;
    // gap: 9px;
}

.info__img {
    object-fit: cover;
    object-position: center;
}

.info__icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.info__icon {
    width: 9px;
    height: 9px;
    margin-right: 5px;
}

.info__desc {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 136px;
    padding: 0 125px;
}

.info__slogan {
    color: rgb(2, 2, 2);
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    line-height: 30px;
    margin-bottom: 37px;
}

.info__copyright {
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 51px;
}

.slogan__carusel {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.slogan__icon {
    width: 9px;
    height: 9px;
    margin-right: 5px;
}