.mainscreen {
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: center;
}

.mainscreen__img {
    width: 1440px;
    height: 698px;
    object-fit: cover;
    position: relative;
}

.mainscreen__title {
    position: absolute;
    width: 807px;
    max-width: 100%;
    display: block;
    text-align: center;
    margin: 257px 316px;
}

.mainscreen__text {
    color: rgb(255, 255, 255);
    font-size: 27px;
    font-weight: 700;
    line-height: 38.4px;
    
}

.mainscreen__btn {
    display: flex;
    margin-top: 31px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    border: 1px solid rgb(255, 255, 255);
    width: 204px;
    height: 33px;
}