.product {
    width: 100%;
    margin-top: 115px;
}

.product__list {
    display: block;
    width: 100%;
}

.product__card {
    display: flex;
    justify-content: space-between;
    gap: 22px;
    margin-bottom: 29px;
    // padding-left: 50px;
}

.reverse {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 50px;
}

.product__title {
    display: block;
    margin-top: 48px;
    text-align: right;
    padding-left: 50px;
}

.product__head {
    color: rgb(0, 0, 0);
    font-size: 33px;
    font-weight: 700;
    margin-bottom: 12px;
}

.product__subtitle {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 12px;
}

.product__price {
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 12px;
}

.product__info {
    color: rgb(82, 82, 82);
    font-size: 18px;
    font-weight: 400;
    line-height: 30.6px;
    margin-bottom: 66px;
}

.product__link {
    color:  rgb(0, 0, 0);
    font-size: 17px;
    font-weight: 400;
}

.product__img {
    width: 960px;
    // width: 100%;
    height: 542px;
    object-fit: cover;
    object-position: center;
}